<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style th:inline="text">
        
    
        .gridContainer {
            display: grid;
            grid-template-columns: repeat([[${size}]], 1fr);
            grid-template-rows: auto;
            grid-gap: 10px;
        }
        .gridItem {
            border: 1px solid grey;
            background-color: #444;
            color: #fff;
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }
    </style>
</head>

<body>
    
    <div class="gridContainer">
        <th:block th:each="bm, iterStat:${bmList}">
            <div class="gridItem">
                <h3 th:text="${iterStat.index} + ': ' + ${bm.value}"></h3>
                <div th:include="singlepattern.svg" th:with="bm=${bm}"></div>
            </div>
            
        </th:block>
    </div>
</body>

</html>